.footer {
    margin-top: 100px;
    text-align: center;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;

    .footer__inner {

        .footer_link {
            color: rgba(255, 255, 255, 0.70);
            font-size: 18px;
            font-weight: 400;
            line-height: normal;

            &:nth-child(1n + 1) {
                margin-right: 40px;
            }
        }
    }

    .footer_text {
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.5px;
        line-height: 38px;
        cursor: default;
    }
}