.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: center;
    .footer__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_link {
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;

            &:nth-child(1n + 1) {
                margin-left: 40px;
            }
        }
    }

    .footer_text {
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.5px;
        line-height: 38px;
        cursor: default;
    }
}